
.nav{
    background-color:  rgba(19, 2, 48, 0.945);
    color: white ;
  
}
li{
    display: inline-block;
}
.container{
    background-color: rgb(40,5,30);
    height: 300px;
}
.img{
    width: 1350px;
    height: 400px;
}

.pic{
    width: 200px;
    height: 90px;
}
table{
    border: 20px;
    border-color: lightblue;
}
.telephome{
    width: 200px;
    height: 100px;
}
.heels{
    width: 200px;
    height: 100px; 
}
.man{
    width: 200px;
    height: 100px;
}
.sispic{
    width: 100px;
    height: 50px;
}
.bottom{
    background-color: rgb(3, 3, 80);
    color: wheat;
}
.under{
    border-color: rgb(3, 3, 80);
}
.button{
    border-radius: 1.5px auto 1.5px auto  ;
}